{{define "layout"}}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <base href="/" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Jess Frazelle's gif Library</title>
    <link rel="icon" type="image/ico" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
    <h1>Jess Frazelle's gif Library</h1>
    <form>
        <input name="filter" type="search"><a class="clear">clear</a>
    </form>

    <div class="wrapper">
        <table>
            <tr>
                <th><img src="/static/icons/default.png" alt="[ICO]" /></th>
                <th>Name</th>
                <th>Size</th>
            </tr>
            {{ range $key, $value := . }}
            <tr>
                <td valign="top">
                    <a href="//hugthief.s3.amazonaws.com/{{ $value.Name }}">
                        <img src="/static/icons/{{ $value.Name | ext }}.png" alt="[IMG]" /></a>
                </td>
                <td>
                    <a href="//hugthief.s3.amazonaws.com/{{ $value.Name }}">{{ $value.Name | base }}</a>
                </td>
                <td align="right">{{ $value.Size | size }}</td>
            </tr>
            {{ end }}
        </table>
    </div>

    <div class="footer">
        <a href="https://twitter.com/jessfraz">@jessfraz</a>
    </div><!--/.footer-->
    <script src="/static/js/scripts.js"></script>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-29404280-12', 'jessfraz.com');
ga('send', 'pageview');
    </script>
</body>
</html>
{{end}}
